<?php $num =277267566;  ?>
{include file="common/head"/}
<link rel="stylesheet" href="/static/air/content/sitefiles2006/2006291/css/pc/274221313_zh-CN.css"
      type="text/css"/>
            <div class="main-wrap clearfix"
                 style="*z-index:10;*position:relative;width:100%;margin-left:auto;margin-right:auto;;background-color:">
                <div class="main clearfix page_main" style="width:1000px;margin-left:auto;margin-right:auto;">
                    <div class="sidebar-left page_sidebar" id="yibuLayout_sidebar"
                         style="width:220px;height:404px;background-color:#ffffff;;">
                        <div class='runTimeflowsmartView'>
                            <div id="view_banner_57_{$num}" class="yibuSmartViewMargin absPos">
                                <div class='yibuFrameContent overflow_hidden banner_Style1_Item0 view_banner_57_{$num}_Style1_Item0'
                                     style='height:401px;width:219px;'>
                                    <script>
                                        $(function () {
                                            $("#view_banner_57_{$num}").children("div").css("overflow", "visible");
                                        })
                                    </script>


                                    <div class="flowsmartView isflowcontainer w_container_content" refarea="Area_0"
                                         id="flowsmartView_57">
                                        <div id="view_text_58_{$num}" class="yibuSmartViewMargin absPos">
                                            <div class='yibuFrameContent overflow_hidden text_Style1_Item0'
                                                 style='height:22px;width:91px;'>
                                                <style type="text/css">
                                                    #view_text_58_{$num}_txt ul {
                                                        list-style-position: inside;
                                                    }
                                                </style>
                                                <div id='view_text_58_{$num}_txt'
                                                     style="cursor:default; height:100%; width:100%;">
                                                    <div class="editableContent">
                                                        <p><span
                                                                style="color: rgb(0, 116, 210); font-family: 华文细黑; font-size: 13px; font-weight: bold; line-height: 26.6667px; widows: auto; ">服务中心</span>
                                                        </p>
                                                    </div>
                                                </div>
                                                <script>
                                                    Pagination('view_text_58_{$num}_txt', "首页", "尾页", "上一页", "下一页");
                                                </script>
                                            </div>
                                        </div>
                                        <div id="view_navigator_59_{$num}" class="yibuSmartViewMargin absPos">
                                            <div class='yibuFrameContent overflow_hidden navigator_Style5_Item0 view_navigator_59_{$num}_Style5_Item0'
                                                 style='height:88px;width:163px;'><!--nav-->
                                                <ul id=nav_view_navigator_59_{$num} styleItem=Style5>
                                                    {volist name="child" id="vo"}
                                                    <li class="w_vnav_item {if condition=" input(
                                                    'catId')==$vo['id']"}w_vnav_item_current{/if}">
                                                    <h3>
                                                        <a href="{:url('home/'.$vo['catdir'].'/index',['catId'=>$vo['id']] )}"
                                                           style="width: 143px" target=_self>
                                                            {$vo.catname}
                                                        </a>
                                                    </h3>
                                                    </li>
                                                    {/volist}
                                                </ul>

                                                <!--/nav-->


                                                <input type="hidden" id="HeightVariablesStr_view_navigator_59_{$num}"
                                                       value="$Item_height:29.33px;$SubItem_height:29.33px;"/>
                                                <script>
                                                    $(function () {
                                                        jQuery("#nav_" + 'view_navigator_59_{$num}').parent("div").css("overflow", "visible");
                                                        var isDivider = true;
                                                        jQuery("#nav_" + 'view_navigator_59_{$num}').children("li").each(function () {
                                                            var topWidth = $(this).children("h3").children("a").css("border-top-width");
                                                            var leftWidth = $(this).children("h3").children("a").css("border-left-width");
                                                            var rightWidth = $(this).children("h3").children("a").css("border-right-width");
                                                            if (topWidth != "0" && topWidth != "0px") {
                                                                isDivider = false;
                                                                return false;
                                                            }
                                                            if (leftWidth != "0" && leftWidth != "0px") {
                                                                isDivider = false;
                                                                return false;
                                                            }
                                                            if (rightWidth != "0" && rightWidth != "0px") {
                                                                isDivider = false;
                                                                return false;
                                                            }
                                                            if ($(this).children("ul").length > 0) {
                                                                var maxWidth = $(this).children("ul").width();
                                                                $(this).children("ul").children("li").each(function () {
                                                                    var a = $(this).children("a");
                                                                    var currentWidth = GetCurrentStrWidth(a.html(), a.css("font-size")) + 46;

                                                                    if (maxWidth < currentWidth)
                                                                        maxWidth = currentWidth;
                                                                });
                                                                $(this).children("ul").css({
                                                                    "width": maxWidth + "px",
                                                                    "right": "-" + maxWidth + "px"
                                                                });
                                                            }
                                                        });
                                                        //if (isDivider)
                                                        //    jQuery("#nav_" + 'view_navigator_59_{$num}').children("li:last").children("h3").children("a").css("border-bottom-width", "0px");//去掉最后一项的分隔线
                                                        if ("False" == "False") {
                                                            jQuery("#" + 'view_navigator_59_{$num}').css("z-index", "999999");
                                                            if (jQuery("#" + 'view_navigator_59_{$num}').parent().attr("class") != "runTimeflowsmartView") {//导航可能放在容器控件中了，需要把容器控件的z-index的值设大
                                                                jQuery("#" + 'view_navigator_59_{$num}').parent(".w_container_content").parent().parent().css("z-index", "999998");
                                                            }
                                                        }
                                                        SetNavSelectedStyle("nav_" + 'view_navigator_59_{$num}', 'vnav');//选中当前导航
                                                    })

                                                </script>
                                            </div>
                                        </div>
                                        <div id="view_image_60_{$num}" class="yibuSmartViewMargin absPos">
                                            <div class='yibuFrameContent overflow_hidden image_Style1_Item0'
                                                 style='height:223px;width:182px;'>
                                                <div class="megwh" style="height:100%; width:100%;">
                                                    <a id="autosize_view_image_60_{$num}" href="javascript:void(0);"
                                                       target="_self">
                                                        <input id="w_view_image_60_{$num}" type="hidden"
                                                               value="178"/>
                                                        <input id="h_view_image_60_{$num}" type="hidden"
                                                               value="213"/>
                                                        <input id="canadjustwidth_view_image_60_{$num}" type="hidden"
                                                               value="False"/>
                                                        <input id="canadjustheight_view_image_60_{$num}"
                                                               type="hidden" value="False"/>

                                                        <img class="lazyload"
                                                             src="/static/air/img.bj.wezhan.cn/transparent.gif"
                                                             
                                                             data-original="http://img1.bj.wezhan.cn/content/sitefiles/2006291/images/6288650_27_74675203-2eaa-43e3-9e5c-f9b4d5b524d7_resize_picture.png"
                                                             alt="" style="border:none; position:relative;"/>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                    <script type="text/javascript">
                                        function setLayoutHeight() {
                                            var bannerheight = $("#view_banner_57_{$num}").css("height");
                                            $("#view_banner_57_{$num}").children(".yibuFrameContent").css("height", bannerheight);
                                        };
                                    </script>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="content yibuTemplateBody page_container" id="yibuLayout_container"
                         style="width:780px;background-color:#ffffff;;">
                        <div id="view_main_1_274221313" class="mainSamrtView yibuSmartViewMargin">
                            <div class='yibuFrameContent main__Item0' style='height:423px;width:100%;'>
                                <div class='runTimeflowsmartView'>
                                    <div id="view_banner_10001_274221313" class="yibuSmartViewMargin absPos">
                                        <div class='yibuFrameContent overflow_hidden banner_Style1_Item0 view_banner_10001_274221313_Style1_Item0'
                                             style='height:422px;width:781px;'>
                                            <script>
                                                $(function () {
                                                    $("#view_banner_10001_274221313").children("div").css("overflow", "visible");
                                                })
                                            </script>


                                            <div class="flowsmartView isflowcontainer w_container_content"
                                                 refarea="Area_0" id="flowsmartView_10001">
                                                <div id="view_text_10002_274221313" class="yibuSmartViewMargin absPos">
                                                    <div class='yibuFrameContent overflow_hidden text_Style1_Item0'
                                                         style='height:25px;width:131px;'>
                                                        <style type="text/css">
                                                            #view_text_10002_274221313_txt ul {
                                                                list-style-position: inside;
                                                            }
                                                        </style>
                                                        <div id='view_text_10002_274221313_txt'
                                                             style="cursor:default; height:100%; width:100%;">
                                                            <div class="editableContent">
                                                                <p><span
                                                                        style="color: rgb(0, 116, 210); font-family: 华文细黑; font-size: 13px; font-weight: bold; line-height: 26.6667px; widows: auto; ">系统介绍PPT下载</span>
                                                                </p>
                                                            </div>
                                                        </div>
                                                        <script>
                                                            Pagination('view_text_10002_274221313_txt', "首页", "尾页", "上一页", "下一页");
                                                        </script>
                                                    </div>
                                                </div>
                                                {volist name="list" id="vo"}

                                                <div id="view_image_3_274221313" class="yibuSmartViewMargin absPos">
                                                    <div class='yibuFrameContent overflow_hidden image_Style1_Item0'
                                                         style='height:103px;width:144px;'>
                                                        <div class="megwh" style="height:100%; width:100%;">
                                                            <a id="autosize_view_image_3_274221313"
                                                               href="javascript:void(0);" target="_self">
                                                                <input id="w_view_image_3_274221313" type="hidden"
                                                                       value="1024"/>
                                                                <input id="h_view_image_3_274221313" type="hidden"
                                                                       value="768"/>
                                                                <input id="canadjustwidth_view_image_3_274221313"
                                                                       type="hidden" value="False"/>
                                                                <input id="canadjustheight_view_image_3_274221313"
                                                                       type="hidden" value="False"/>

                                                                <img class="lazyload"
                                                                     src="/static/air/img.bj.wezhan.cn/transparent.gif"
                                                                     
                                                                     data-original="{$vo.title_thumb}" alt=""
                                                                     style="border:none; position:relative;"/>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div id="view_line_10003_274221313" class="yibuSmartViewMargin absPos">
                                                    <div class='yibuFrameContent overflow_hidden line_Style1_Item0 view_line_10003_274221313_Style1_Item0'
                                                         style='height:17px;width:763px;'>
                                                        <div class="w_line"></div>
                                                    </div>
                                                </div>
                                                <div id="view_image_10004_274221313" class="yibuSmartViewMargin absPos">
                                                    <div class='yibuFrameContent overflow_hidden image_Style1_Item0'
                                                         style='height:23px;width:42px;'>
                                                        <div class="megwh" style="height:100%; width:100%;">
                                                            <a id="autosize_view_image_10004_274221313"
                                                               href="javascript:void(0);" target="_self">
                                                                <input id="w_view_image_10004_274221313" type="hidden"
                                                                       value="480"/>
                                                                <input id="h_view_image_10004_274221313" type="hidden"
                                                                       value="300"/>
                                                                <input id="canadjustwidth_view_image_10004_274221313"
                                                                       type="hidden" value="False"/>
                                                                <input id="canadjustheight_view_image_10004_274221313"
                                                                       type="hidden" value="False"/>

                                                                <img class="lazyload"
                                                                     src="/static/air/img.bj.wezhan.cn/transparent.gif"
                                                                     
                                                                     data-original="http://img1.bj.wezhan.cn/content/sitefiles/2006291/images/6288658_blank_26018a49-d86e-4de1-a49d-88c4f7c11e99_resize_picture.gif"
                                                                     alt="" style="border:none; position:relative;"/>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div id="view_list_10005_274221313" class="yibuSmartViewMargin absPos">
                                                    <div class='yibuFrameContent overflow_hidden list_Style3_Item0 view_list_10005_274221313_Style3_Item0'
                                                         style='height:27px;width:305px;'><!--list-->
                                                        <ul>
                                                            <li class="w_list_item">
                                                                <span class="w_list_date">{:toDate($vo['createtime'],'Y-m-d')}</span>
                                                                <i class="iconfont w_button_icon"
                                                                   style="font-size:100%"></i>
                                                                <a href="{:url('home/download/down',['id'=>$vo.id])}" target="_blank">{$vo.title}</a>
                                                            </li>
                                                        </ul>
                                                        <div class="pager f_clearfix" id="pager">
                                                            <script type='text/javascript'>list_10005 = null;</script>
                                                        </div>
                                                        <!--/list-->

                                                        <script type="text/javascript">
                                                            $(function () {
                                                                var hoverIcon = "";
                                                                if (hoverIcon != "") {
                                                                    var obj = $("#view_list_10005_274221313").find(" li i");
                                                                    obj.unbind("hover");
                                                                    obj.hover(function () {
                                                                            $(this).html(hoverIcon);
                                                                        },
                                                                        function () {
                                                                            $(this).html("");
                                                                        });
                                                                }
                                                            });

                                                        </script>
                                                    </div>
                                                </div>

                                                {/volist}
                                            </div>
                                            <script type="text/javascript">
                                                function setLayoutHeight() {
                                                    var bannerheight = $("#view_banner_10001_274221313").css("height");
                                                    $("#view_banner_10001_274221313").children(".yibuFrameContent").css("height", bannerheight);
                                                };
                                            </script>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            {include file="common/footer"/}