<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-type" content="text/html;charset=UTF-8"/>
    <meta name="renderer" content="webkit">
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black"/>
    <meta name="format-detection" content="telephone=no, email=no"/>
    <link rel="icon" href="http://img.bj.wezhan.cn/2006291_favicon.ico"/>

    <title>{$info['title']??($title ? $title : $sys.title)}</title>
    <meta name="description" content="{$info['description']??($description ? $description : $sys.des)}"/>
    <meta name="keywords" content=" {$info['keywords']??($keywords ? $keywords : $sys.key)}"/>
    <link rel="stylesheet" href="/static/air/img.bj.wezhan.cn/Plugins/Designer/Content/css/base.pc.css"
           type="text/css"/>
    <link rel="stylesheet" href="/static/air/content/sitefiles2006/2006291/css/pc/274221313_zh-CN.css"
           type="text/css"/>


    <script type="text/javascript" src="/static/air/img.bj.wezhan.cn/Plugins/Designer/Script/jquery-1.9.1.min.js"
            ></script>
    <script type="text/javascript"
            src="/static/air/img.bj.wezhan.cn/Plugins/Designer/Script/jquery-migrate-1.2.1.min.js"
            ></script>
    <script type="text/javascript" src="/static/air/img.bj.wezhan.cn/Plugins/Designer/Script/jquery-ui.min.js"
            ></script>
    <script type="text/javascript" src="/static/air/img.bj.wezhan.cn/Scripts/public.common.min.js"
            ></script>
    <script type="text/javascript" src="/static/air/img.bj.wezhan.cn/Plugins/Designer/Script/jquery.lazyload.min.js"
            ></script>
    <script type="text/javascript" src="/static/air/img.bj.wezhan.cn/Plugins/Designer/Script/underscore-min.js"
            ></script>
    <script type="text/javascript" src="/static/air/img.bj.wezhan.cn/Plugins/Designer/Script/jquery.slider.js"
            ></script>
    <script type="text/javascript" src="/static/air/img.bj.wezhan.cn/Scripts/jquery.color.js"
            ></script>
    <script type="text/javascript" src="/static/air/img.bj.wezhan.cn/Plugins/SmartViews.Common/Script/searchExt.js"
            ></script>
    <script language='javascript' type='text/javascript' id='yibuHeaderScript'>
    </script>
    <script src="/static/air/img.bj.wezhan.cn/Plugins/Designer/Script/velocity.min.js"
            ></script>
    <script src="/static/air/img.bj.wezhan.cn/Plugins/Designer/Script/velocity.ui.min.js"
            ></script>
    <script type="text/javascript" src="/static/air/img.bj.wezhan.cn/Scripts/jquery.validatestar.min.js"
            ></script>


</head>
<body>
<div id="view_layout_1_277267566" class="mainSamrtView yibuSmartViewMargin">
    <div class='yibuFrameContent layout_Block3_Item0' style='border-style:none;'>
        <style type="text/css">
            /* Style */
            .page-wrap {
                clear: both;
                margin: 0 auto;
                padding: 0;
                width: auto;
                height: 100%;
            }

            .page-wrap .header, .page-wrap .main-wrap .main, .page-wrap .footer {
                position: relative;
                clear: both;
                margin: 0 auto;
                padding: 0;
            }

            .page-wrap .main-wrap {
                clear: both;
                margin: 0;
                padding: 0;
                width: auto;
            }

            .page-wrap .main-wrap .main .sidebar-left, .page-wrap .main-wrap .main .content {
                float: left;
                display: inline;
            }

            .page-wrap .main-wrap .main .content {
                float: right;
            }

            .clearfix:before, .clearfix:after {
                content: "";
                display: table;
            }

            .clearfix:after {
                clear: both;
                overflow: hidden;
            }

            .clearfix {
                zoom: 1;
            }

            body {
                background-color: #666666;

            }
        </style>

        <div class="page-wrap">
            <div style="*z-index:11;*position:relative;width:100%;height:308px;margin-left:auto;margin-right:auto;background-color:">
                <div class="header page_header" style="width:1000px;height:308px;;">
                    <div class='runTimeflowsmartView'>
                        <div id="view_banner_32_277267566" class="yibuSmartViewMargin absPos">
                            <div class='yibuFrameContent overflow_hidden banner_Style1_Item0 view_banner_32_277267566_Style1_Item0'
                                 style='height:73px;width:1003px;'>
                                <div class="w_container_wrap renderfullScreen"></div>
                                <script>
                                    $(function () {
                                        setRenderFullScreen($('#view_banner_32_277267566'));
                                    })
                                </script>


                                <div class="flowsmartView isflowcontainer w_container_content" refarea="Area_0"
                                     id="flowsmartView_32" style=width:1003px;>
                                    <div id="view_image_3_277267566" class="yibuSmartViewMargin absPos">
                                        <div class='yibuFrameContent overflow_hidden image_Style1_Item0'
                                             style='height:106px;width:252px;border-style:none;'>
                                            <div class="megwh" style="height:100%; width:100%;">
                                                <a id="autosize_view_image_3_277267566" href="wzsy.htm"
                                                    target="_self">
                                                    <input id="w_view_image_3_277267566" type="hidden" value="180"/>
                                                    <input id="h_view_image_3_277267566" type="hidden" value="90"/>
                                                    <input id="canadjustwidth_view_image_3_277267566" type="hidden"
                                                           value="False"/>
                                                    <input id="canadjustheight_view_image_3_277267566" type="hidden"
                                                           value="False"/>

                                                    <img class="lazyload"
                                                         src="/static/air/img.bj.wezhan.cn/transparent.gif"
                                                         
                                                         data-original="http://img1.bj.wezhan.cn/content/sitefiles/2006291/images/6280832__c_JePEhgvMp-J-cZCW4xODpr7B350LbB3q0HI8G3oPUWSMezzP5to3JbMAIfGvfhYN4yZB4uetVa4TExmUpebXNErxgbENKGMK_1ee19a8f-be03-4f7f-8919-0a217398bdba_resize_picture.png"
                                                         alt="" style="border:none; position:relative;"/>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="view_navigator_8_277267566" class="yibuSmartViewMargin absPos">
                                        <div class='yibuFrameContent navigator_Style3_Item0 view_navigator_8_277267566_Style3_Item0'
                                             style='border-style:none;'><!--nav-->
                                            <ul id=nav_view_navigator_8_277267566 styleItem=Style3>
                                                <li class=w_nav_item style=width:16.66%;*width:16.33%>
                                                    <h3>
                                                        <a href="/" target=_self>
                                                            网站首页
                                                        </a>
                                                    </h3>
                                                </li>

                                                {volist name="category" id="vo" offset="0" length="5"}
                                                <li class=w_nav_item style=width:16.66%;*width:16.33%>
                                                    <h3>
                                                        <a href="#">
                                                            {$vo.catname}
                                                        </a>
                                                    </h3>
                                                    <ul class=w_subnav style=width:83.17px;*left:0px;>
                                                        {volist name="$vo.sub" id="v"}
                                                        <li class=w_subnav_item>
                                                            <a href="{:url('home/'.$vo['catdir'].'/index',['catId'=>$v['id']] )}">
                                                                {$v.catname}
                                                            </a>
                                                        </li>
                                                        {/volist}

                                                    </ul>
                                                </li>
                                                {/volist}
                                            </ul>

                                            <!--/nav-->
                                            <input type="hidden" id="HeightVariablesStr_view_navigator_8_277267566"
                                                   value="$height:31px;$Item_height:31px;$SubItem_height:31px;"/>
                                            <script>
                                                $(function () {
                                                    slideMenu("nav_" + 'view_navigator_8_277267566');
                                                    jQuery("#nav_" + 'view_navigator_8_277267566').parent("div").css("overflow", "visible");
                                                    var isDivider = true;

                                                    //子导航下边框显示不出来的fix
                                                    $("#nav_" + 'view_navigator_8_277267566').children("li").each(function () {
                                                        var Li_height = $(this).height();
                                                        $("li", this).height(Li_height);

                                                        var child_li = $("li", this);
                                                        var topborderwidth = $("a:first", child_li).css('border-top-width');
                                                        topborderwidth = isNaN(parseInt(topborderwidth)) ? 0 : parseInt(topborderwidth);
                                                        var bottomborderwidth = $("a:first", child_li).css('border-bottom-width');
                                                        bottomborderwidth = isNaN(parseInt(bottomborderwidth)) ? 0 : parseInt(bottomborderwidth);

                                                        $("a", child_li).height(Li_height - topborderwidth - bottomborderwidth);
                                                    });

                                                    jQuery("#nav_" + 'view_navigator_8_277267566').children("li").each(function () {
                                                        var topWidth = $(this).children("h3").children("a").css("border-top-width");
                                                        var leftWidth = $(this).children("h3").children("a").css("border-left-width");
                                                        var bottomWidth = $(this).children("h3").children("a").css("border-bottom-width");
                                                        if (topWidth != "0" && topWidth != "0px") {
                                                            isDivider = false;
                                                            return false;
                                                        }
                                                        if (leftWidth != "0" && leftWidth != "0px") {
                                                            isDivider = false;
                                                            return false;
                                                        }
                                                        if (bottomWidth != "0" && bottomWidth != "0px") {
                                                            isDivider = false;
                                                            return false;
                                                        }
                                                        if ($(this).children("ul").length > 0) {
                                                            var maxWidth = $(this).children("ul").width();
                                                            $(this).children("ul").children("li").each(function () {
                                                                var a = $(this).children("a");
                                                                var currentWidth = GetCurrentStrWidth(a.html(), a.css("font-size")) + 20;

                                                                if (maxWidth < currentWidth)
                                                                    maxWidth = currentWidth;
                                                            });
                                                            $(this).children("ul").css("width", maxWidth + "px");
                                                        }

                                                    });
                                                    //if (isDivider)
                                                    //    jQuery("#nav_" + 'view_navigator_8_277267566').children("li:last").children("h3").children("a").css("border-right-width", "0px");//去掉最后一项的分隔线

                                                    if ("False" == "False") {
                                                        jQuery("#" + 'view_navigator_8_277267566').css("z-index", "999999");
                                                        if ($.browser.msie) {
                                                            jQuery("#" + 'view_navigator_8_277267566').parent(".runTimeflowsmartView").css("z-index", "999999");
                                                        }
                                                        if (jQuery("#" + 'view_navigator_8_277267566').parent().attr("class") != "runTimeflowsmartView") {//导航可能放在容器控件中了，需要把容器控件的z-index的值设大
                                                            jQuery("#" + 'view_navigator_8_277267566').parent(".w_container_content").parent().parent().css("z-index", "999998");
                                                        }
                                                    }
                                                    SetNavSelectedStyle("nav_" + 'view_navigator_8_277267566', 'nav');//选中当前导航
                                                })

                                            </script>

                                        </div>
                                    </div>
                                    <div id="view_search_36_277267566" class="yibuSmartViewMargin absPos">
                                        <div class='yibuFrameContent overflow_hidden search_Style2_Item0 view_search_36_277267566_Style2_Item0'
                                             style='height:25px;width:185px;'><!--w_search-->
                                            <!--fontfamily_select-->
                                            <div style="position: absolute; top: 0px; filter: alpha(opacity=0);opacity:0;background-color: #777; z-index: 2; left: 0px; display:none; width: 100%; height: 100%;">
                                            </div>
                                            <div class="w_search">
                                                <!--w_search_head-->
                                                <div class="w_search_head f_clearfix">
                                                    <input type="text" class="w_search_input" placeholder="请输入关键字"/>
                                                    <button class="w_search_btn" type="button">
                                                        <i class="iconfont"></i>
                                                    </button>
                                                </div>
                                                <!--/w_search_head-->
                                            </div>
                                            <!--/w_search-->

                                            <!--/w_search-->
                                            <script typeof="text/javascript">
                                                $(function () {
                                                    var hoverIcon = "";
                                                    if (hoverIcon != "") {
                                                        var obj = $("#view_search_36_277267566").find(".w_search_btn i");
                                                        obj.unbind("hover");
                                                        obj.hover(function () {
                                                                $(this).html(hoverIcon);
                                                            },
                                                            function () {
                                                                $(this).html("");
                                                            });
                                                    }
                                                    $("#view_search_36_277267566 .w_search_btn").click(function () {
                                                        var keyword = $("#view_search_36_277267566").find(".w_search_input").val();
                                                        if (keyword.replace(/(^\s*)|(\s*$)/g, "") == "") {
                                                            alert("搜索关键字不能为空")
                                                            return;
                                                        }
                                                        var cate = 0;
                                                        var catename = "全部";
                                                        if ("False".toLocaleLowerCase() != "true")
                                                            if ("False".toLocaleLowerCase() == "false") {
                                                                window.location.href = "searchresultlist-keyword=.htm"/*tpa=http://www.h-bahn.cn/searchresultlist?keyword=*/ + keyword + "&searchCategory=" + cate + "|" + catename + "&htmlSmartId=0&isshowsearch=False";
                                                            } else {
                                                                TurnPageSmartView("277267566", "", "False", "1", "", "", cate + "|" + catename, keyword, "false");
                                                            }
                                                    });
                                                    $("#view_search_36_277267566 .w_search_input").keydown(function (e) {
                                                        if (e.keyCode == 13) {
                                                            $("#view_search_36_277267566 .w_search_btn").click();
                                                        }
                                                    });
                                                    var elementId = 'view_search_36_277267566';
                                                    var $searchWrap = $("#" + elementId + " .w_search").parent().parent();
                                                    var $searchButton = $("#" + elementId + " .w_search_btn")
                                                    var $searchInput = $("#" + elementId + " .w_search_input");
                                                    var inputBorderWidth = parseInt($searchInput.css('border-left-width')) + parseInt($searchInput.css('border-right-width'));
                                                    var inputButtonWidth = parseInt($searchButton.css('border-left-width')) + parseInt($searchButton.css('border-right-width'));
                                                    var searchInputWidth = $searchWrap.width() - $searchButton.width() - inputBorderWidth - inputButtonWidth - 5;
                                                    var searchInputHeight = $searchWrap.height();
                                                    if (searchInputWidth <= 70) {
                                                        searchInputWidth = 70;
                                                        $("#" + elementId).children().eq(0).width(90 + $searchButton.width());
                                                    }
                                                    $("#" + elementId + " .w_search").width("auto");
                                                    $searchInput.width(searchInputWidth);
                                                    $searchInput.height(searchInputHeight);
                                                    $searchButton.height(searchInputHeight + 2);
                                                    $("#view_search_36_277267566 .yibuFrameContent").removeClass("overflow_hidden");
                                                });

                                            </script>
                                        </div>
                                    </div>
                                    <div id="view_image_62_277267566" class="yibuSmartViewMargin absPos">
                                        <div class='yibuFrameContent overflow_hidden image_Style1_Item0'
                                             style='height:18px;width:49px;'>
                                            <div class="megwh" style="height:100%; width:100%;">
                                                <a id="autosize_view_image_62_277267566" href="javascript:void(0);"
                                                   target="_self">
                                                    <input id="w_view_image_62_277267566" type="hidden" value="480"/>
                                                    <input id="h_view_image_62_277267566" type="hidden" value="300"/>
                                                    <input id="canadjustwidth_view_image_62_277267566" type="hidden"
                                                           value="False"/>
                                                    <input id="canadjustheight_view_image_62_277267566" type="hidden"
                                                           value="False"/>

                                                    <img class="lazyload"
                                                         src="/static/air/img.bj.wezhan.cn/transparent.gif"
                                                         
                                                         data-original="http://img1.bj.wezhan.cn/content/sitefiles/2006291/images/6300393__c_5hWfXVxNL-vmKwXDX86s7VymqDoUy1HxWoZY-ZrwyAbQMuQ8mJrQ205V2TW10usXNKPvlOu6VFJM-yYLkDmLUg--_aee403e4-b053-4b9d-8c0d-2b4b6773dc66_resize_picture.gif"
                                                         alt="" style="border:none; position:relative;"/>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="view_image_63_277267566" class="yibuSmartViewMargin absPos">
                                        <div class='yibuFrameContent overflow_hidden image_Style1_Item0'
                                             style='height:18px;width:47px;'>
                                            <div class="megwh" style="height:100%; width:100%;">
                                                <a id="autosize_view_image_63_277267566" href="yibupage/277268706.htm"
                                                    target="_self">
                                                    <input id="w_view_image_63_277267566" type="hidden" value="480"/>
                                                    <input id="h_view_image_63_277267566" type="hidden" value="300"/>
                                                    <input id="canadjustwidth_view_image_63_277267566" type="hidden"
                                                           value="False"/>
                                                    <input id="canadjustheight_view_image_63_277267566" type="hidden"
                                                           value="False"/>

                                                    <img class="lazyload"
                                                         src="/static/air/img.bj.wezhan.cn/transparent.gif"
                                                         
                                                         data-original="http://img1.bj.wezhan.cn/content/sitefiles/2006291/images/6300398__c_u4prMCfjPPGOKMJMprydOBvERDuQBDk-232NpLa1ToaXNBhh1BJx8eDK7YVYCMuvJWjw0AFEvghwqLZi0s2COA--_065204fd-205c-4564-81b0-95491eba7e4d_resize_picture.gif"
                                                         alt="" style="border:none; position:relative;"/>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="view_text_35_277267566" class="yibuSmartViewMargin absPos">
                                        <div class='yibuFrameContent overflow_hidden text_Style1_Item0'
                                             style='height:26px;width:143px;'>
                                            <style type="text/css">
                                                #view_text_35_277267566_txt ul {
                                                    list-style-position: inside;
                                                }
                                            </style>
                                            <div id='view_text_35_277267566_txt'
                                                 style="cursor:default; height:100%; width:100%;">
                                                <div class="editableContent">
                                                    <p><span
                                                            style="color: rgb(255, 255, 224); font-family: 宋体; line-height: 24px; widows: auto;">国际空列集团欢迎您</span>
                                                    </p>
                                                </div>
                                            </div>
                                            <script>
                                                Pagination('view_text_35_277267566_txt', "首页", "尾页", "上一页", "下一页");
                                            </script>
                                        </div>
                                    </div>

                                </div>
                                <script type="text/javascript">
                                    function setLayoutHeight() {
                                        var bannerheight = $("#view_banner_32_277267566").css("height");
                                        $("#view_banner_32_277267566").children(".yibuFrameContent").css("height", bannerheight);
                                    };
                                </script>
                            </div>
                        </div>
                        <div id="view_banner_56_277267566" class="yibuSmartViewMargin absPos">
                            <div class='yibuFrameContent overflow_hidden banner_Style1_Item0 view_banner_56_277267566_Style1_Item0'
                                 style='height:232px;width:1006px;'>
                                <div class="w_container_wrap renderfullScreen"></div>
                                <script>
                                    $(function () {
                                        setRenderFullScreen($('#view_banner_56_277267566'));
                                    })
                                </script>


                                <div class="flowsmartView isflowcontainer w_container_content" refarea="Area_0"
                                     id="flowsmartView_56" style=width:1006px;>
                                    <div id="view_photoalbum_37_277267566" class="yibuSmartViewMargin absPos">
                                        <div class='yibuFrameContent overflow_hidden photoalbum_Style1_Item0 view_photoalbum_37_277267566_Style1_Item0'
                                             style='height:220px;width:1000px;'>
                                            <div id="w_slider_37" class="w_slider w_sliders_37"
                                                 style="width:100%;height:100%;">
                                                <div class="w_slider_num">
                                                    <ul style="display:none;">
                                                        {volist name="adList" id="vo" key="i"}
                                                        <li style="font-size:12px;">{$i}</li>
                                                        {/volist}
                                                    </ul>
                                                </div>
                                                <div class="w_slider_img">
                                                    <ul>
                                                        {volist name="adList" id="vo" key="i"}
                                                        <li style="width:1000px; height:220px;">
                                                            <a title="00{$i}"
                                                               href="javascript:void(0)" target="_self">
                                                                <img style="height:220px" class="lazyload"
                                                                     src="/static/air/img.bj.wezhan.cn/transparent.gif"
                                                                     data-original="{$vo.pic}"
                                                                     onload="DynamicLoad(this)" title="00{$i}"
                                                                     alt="图片{$i}"/>
                                                            </a>
                                                        </li>
                                                        {/volist}
                                                    </ul>
                                                </div>

                                                <!-- 下面是前/后按钮代码，如果不需要删除即可 -->
                                                <a style="display:none;" class="prev" href="javascript:void(0)"></a>
                                                <a style="display:none;" class="next" href="javascript:void(0)"></a>

                                            </div>

                                            <script type="text/javascript">
                                                $(function () {
                                                    $(".w_sliders_37").slide({
                                                        mainCell: $(".w_sliders_37 .w_slider_img ul"),
                                                        titCell: $(".w_sliders_37 .w_slider_num li"),
                                                        effect: "fade",
                                                        autoPlay: "true",
                                                        trigger: "click",
                                                        interTime: "3000"
                                                    });
                                                });

                                            </script>
                                        </div>
                                    </div>

                                </div>
                                <script type="text/javascript">
                                    function setLayoutHeight() {
                                        var bannerheight = $("#view_banner_56_277267566").css("height");
                                        $("#view_banner_56_277267566").children(".yibuFrameContent").css("height", bannerheight);
                                    };
                                </script>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="main-wrap clearfix"
                 style="*z-index:10;*position:relative;width:100%;margin-left:auto;margin-right:auto;;background-color:">
                <div class="main clearfix page_main" style="width:1000px;margin-left:auto;margin-right:auto;">
                    <div class="sidebar-left page_sidebar" id="yibuLayout_sidebar"
                         style="width:220px;height:404px;background-color:#ffffff;;">
                        <div class='runTimeflowsmartView'>
                            <div id="view_banner_57_277267566" class="yibuSmartViewMargin absPos">
                                <div class='yibuFrameContent overflow_hidden banner_Style1_Item0 view_banner_57_277267566_Style1_Item0'
                                     style='height:401px;width:219px;'>
                                    <script>
                                        $(function () {
                                            $("#view_banner_57_277267566").children("div").css("overflow", "visible");
                                        })
                                    </script>


                                    <div class="flowsmartView isflowcontainer w_container_content" refarea="Area_0"
                                         id="flowsmartView_57">
                                        <div id="view_text_58_277267566" class="yibuSmartViewMargin absPos">
                                            <div class='yibuFrameContent overflow_hidden text_Style1_Item0'
                                                 style='height:22px;width:91px;'>
                                                <style type="text/css">
                                                    #view_text_58_277267566_txt ul {
                                                        list-style-position: inside;
                                                    }
                                                </style>
                                                <div id='view_text_58_277267566_txt'
                                                     style="cursor:default; height:100%; width:100%;">
                                                    <div class="editableContent">
                                                        <p><span
                                                                style="color: rgb(0, 116, 210); font-family: 华文细黑; font-size: 13px; font-weight: bold; line-height: 26.6667px; widows: auto; ">服务中心</span>
                                                        </p>
                                                    </div>
                                                </div>
                                                <script>
                                                    Pagination('view_text_58_277267566_txt', "首页", "尾页", "上一页", "下一页");
                                                </script>
                                            </div>
                                        </div>
                                        <div id="view_navigator_59_277267566" class="yibuSmartViewMargin absPos">
                                            <div class='yibuFrameContent overflow_hidden navigator_Style5_Item0 view_navigator_59_277267566_Style5_Item0'
                                                 style='height:88px;width:163px;'><!--nav-->
                                                <ul id=nav_view_navigator_59_277267566 styleItem=Style5>
                                                    {volist name="child" id="vo"}
                                                    <li class="w_vnav_item {if condition=" input(
                                                    'catId')==$vo['id']"}w_vnav_item_current{/if}">
                                                    <h3>
                                                        <a href="{:url('home/'.$vo['catdir'].'/index',['catId'=>$vo['id']] )}"
                                                           style="width: 143px" target=_self>
                                                            {$vo.catname}
                                                        </a>
                                                    </h3>
                                                    </li>
                                                    {/volist}
                                                </ul>

                                                <!--/nav-->


                                                <input type="hidden" id="HeightVariablesStr_view_navigator_59_277267566"
                                                       value="$Item_height:29.33px;$SubItem_height:29.33px;"/>
                                                <script>
                                                    $(function () {
                                                        jQuery("#nav_" + 'view_navigator_59_277267566').parent("div").css("overflow", "visible");
                                                        var isDivider = true;
                                                        jQuery("#nav_" + 'view_navigator_59_277267566').children("li").each(function () {
                                                            var topWidth = $(this).children("h3").children("a").css("border-top-width");
                                                            var leftWidth = $(this).children("h3").children("a").css("border-left-width");
                                                            var rightWidth = $(this).children("h3").children("a").css("border-right-width");
                                                            if (topWidth != "0" && topWidth != "0px") {
                                                                isDivider = false;
                                                                return false;
                                                            }
                                                            if (leftWidth != "0" && leftWidth != "0px") {
                                                                isDivider = false;
                                                                return false;
                                                            }
                                                            if (rightWidth != "0" && rightWidth != "0px") {
                                                                isDivider = false;
                                                                return false;
                                                            }
                                                            if ($(this).children("ul").length > 0) {
                                                                var maxWidth = $(this).children("ul").width();
                                                                $(this).children("ul").children("li").each(function () {
                                                                    var a = $(this).children("a");
                                                                    var currentWidth = GetCurrentStrWidth(a.html(), a.css("font-size")) + 46;

                                                                    if (maxWidth < currentWidth)
                                                                        maxWidth = currentWidth;
                                                                });
                                                                $(this).children("ul").css({
                                                                    "width": maxWidth + "px",
                                                                    "right": "-" + maxWidth + "px"
                                                                });
                                                            }
                                                        });
                                                        //if (isDivider)
                                                        //    jQuery("#nav_" + 'view_navigator_59_277267566').children("li:last").children("h3").children("a").css("border-bottom-width", "0px");//去掉最后一项的分隔线
                                                        if ("False" == "False") {
                                                            jQuery("#" + 'view_navigator_59_277267566').css("z-index", "999999");
                                                            if (jQuery("#" + 'view_navigator_59_277267566').parent().attr("class") != "runTimeflowsmartView") {//导航可能放在容器控件中了，需要把容器控件的z-index的值设大
                                                                jQuery("#" + 'view_navigator_59_277267566').parent(".w_container_content").parent().parent().css("z-index", "999998");
                                                            }
                                                        }
                                                        SetNavSelectedStyle("nav_" + 'view_navigator_59_277267566', 'vnav');//选中当前导航
                                                    })

                                                </script>
                                            </div>
                                        </div>
                                        <div id="view_image_60_277267566" class="yibuSmartViewMargin absPos">
                                            <div class='yibuFrameContent overflow_hidden image_Style1_Item0'
                                                 style='height:223px;width:182px;'>
                                                <div class="megwh" style="height:100%; width:100%;">
                                                    <a id="autosize_view_image_60_277267566" href="javascript:void(0);"
                                                       target="_self">
                                                        <input id="w_view_image_60_277267566" type="hidden"
                                                               value="178"/>
                                                        <input id="h_view_image_60_277267566" type="hidden"
                                                               value="213"/>
                                                        <input id="canadjustwidth_view_image_60_277267566" type="hidden"
                                                               value="False"/>
                                                        <input id="canadjustheight_view_image_60_277267566"
                                                               type="hidden" value="False"/>

                                                        <img class="lazyload"
                                                             src="/static/air/img.bj.wezhan.cn/transparent.gif"
                                                             
                                                             data-original="http://img1.bj.wezhan.cn/content/sitefiles/2006291/images/6288650_27_74675203-2eaa-43e3-9e5c-f9b4d5b524d7_resize_picture.png"
                                                             alt="" style="border:none; position:relative;"/>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                    <script type="text/javascript">
                                        function setLayoutHeight() {
                                            var bannerheight = $("#view_banner_57_277267566").css("height");
                                            $("#view_banner_57_277267566").children(".yibuFrameContent").css("height", bannerheight);
                                        };
                                    </script>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="content yibuTemplateBody page_container" id="yibuLayout_container"
                         style="width:780px;background-color:#ffffff;;">
                        <div id="view_main_1_274221313" class="mainSamrtView yibuSmartViewMargin">
                            <div class='yibuFrameContent main__Item0' style='height:423px;width:100%;'>
                                <div class='runTimeflowsmartView'>
                                    <div id="view_banner_10001_274221313" class="yibuSmartViewMargin absPos">
                                        <div class='yibuFrameContent overflow_hidden banner_Style1_Item0 view_banner_10001_274221313_Style1_Item0'
                                             style='height:422px;width:781px;'>
                                            <script>
                                                $(function () {
                                                    $("#view_banner_10001_274221313").children("div").css("overflow", "visible");
                                                })
                                            </script>


                                            <div class="flowsmartView isflowcontainer w_container_content"
                                                 refarea="Area_0" id="flowsmartView_10001">
                                                <div id="view_text_10002_274221313" class="yibuSmartViewMargin absPos">
                                                    <div class='yibuFrameContent overflow_hidden text_Style1_Item0'
                                                         style='height:25px;width:131px;'>
                                                        <style type="text/css">
                                                            #view_text_10002_274221313_txt ul {
                                                                list-style-position: inside;
                                                            }
                                                        </style>
                                                        <div id='view_text_10002_274221313_txt'
                                                             style="cursor:default; height:100%; width:100%;">
                                                            <div class="editableContent">
                                                                <p><span
                                                                        style="color: rgb(0, 116, 210); font-family: 华文细黑; font-size: 13px; font-weight: bold; line-height: 26.6667px; widows: auto; ">系统介绍PPT下载</span>
                                                                </p>
                                                            </div>
                                                        </div>
                                                        <script>
                                                            Pagination('view_text_10002_274221313_txt', "首页", "尾页", "上一页", "下一页");
                                                        </script>
                                                    </div>
                                                </div>
                                                {volist name="list" id="vo"}

                                                <div id="view_image_3_274221313" class="yibuSmartViewMargin absPos">
                                                    <div class='yibuFrameContent overflow_hidden image_Style1_Item0'
                                                         style='height:103px;width:144px;'>
                                                        <div class="megwh" style="height:100%; width:100%;">
                                                            <a id="autosize_view_image_3_274221313"
                                                               href="javascript:void(0);" target="_self">
                                                                <input id="w_view_image_3_274221313" type="hidden"
                                                                       value="1024"/>
                                                                <input id="h_view_image_3_274221313" type="hidden"
                                                                       value="768"/>
                                                                <input id="canadjustwidth_view_image_3_274221313"
                                                                       type="hidden" value="False"/>
                                                                <input id="canadjustheight_view_image_3_274221313"
                                                                       type="hidden" value="False"/>

                                                                <img class="lazyload"
                                                                     src="/static/air/img.bj.wezhan.cn/transparent.gif"
                                                                     
                                                                     data-original="{$vo.title_thumb}" alt=""
                                                                     style="border:none; position:relative;"/>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div id="view_line_10003_274221313" class="yibuSmartViewMargin absPos">
                                                    <div class='yibuFrameContent overflow_hidden line_Style1_Item0 view_line_10003_274221313_Style1_Item0'
                                                         style='height:17px;width:763px;'>
                                                        <div class="w_line"></div>
                                                    </div>
                                                </div>
                                                <div id="view_image_10004_274221313" class="yibuSmartViewMargin absPos">
                                                    <div class='yibuFrameContent overflow_hidden image_Style1_Item0'
                                                         style='height:23px;width:42px;'>
                                                        <div class="megwh" style="height:100%; width:100%;">
                                                            <a id="autosize_view_image_10004_274221313"
                                                               href="javascript:void(0);" target="_self">
                                                                <input id="w_view_image_10004_274221313" type="hidden"
                                                                       value="480"/>
                                                                <input id="h_view_image_10004_274221313" type="hidden"
                                                                       value="300"/>
                                                                <input id="canadjustwidth_view_image_10004_274221313"
                                                                       type="hidden" value="False"/>
                                                                <input id="canadjustheight_view_image_10004_274221313"
                                                                       type="hidden" value="False"/>

                                                                <img class="lazyload"
                                                                     src="/static/air/img.bj.wezhan.cn/transparent.gif"
                                                                     
                                                                     data-original="http://img1.bj.wezhan.cn/content/sitefiles/2006291/images/6288658_blank_26018a49-d86e-4de1-a49d-88c4f7c11e99_resize_picture.gif"
                                                                     alt="" style="border:none; position:relative;"/>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div id="view_list_10005_274221313" class="yibuSmartViewMargin absPos">
                                                    <div class='yibuFrameContent overflow_hidden list_Style3_Item0 view_list_10005_274221313_Style3_Item0'
                                                         style='height:27px;width:305px;'><!--list-->
                                                        <ul>
                                                            <li class="w_list_item">
                                                                <span class="w_list_date">{:toDate($vo['createtime'],'Y-m-d')}</span>
                                                                <i class="iconfont w_button_icon"
                                                                   style="font-size:100%"></i>
                                                                <a href="{:url('home/download/down',['id'=>$vo.id])}" target="_blank">{$vo.title}</a>
                                                            </li>
                                                        </ul>
                                                        <div class="pager f_clearfix" id="pager">
                                                            <script type='text/javascript'>list_10005 = null;</script>
                                                        </div>
                                                        <!--/list-->

                                                        <script type="text/javascript">
                                                            $(function () {
                                                                var hoverIcon = "";
                                                                if (hoverIcon != "") {
                                                                    var obj = $("#view_list_10005_274221313").find(" li i");
                                                                    obj.unbind("hover");
                                                                    obj.hover(function () {
                                                                            $(this).html(hoverIcon);
                                                                        },
                                                                        function () {
                                                                            $(this).html("");
                                                                        });
                                                                }
                                                            });

                                                        </script>
                                                    </div>
                                                </div>

                                                {/volist}
                                            </div>
                                            <script type="text/javascript">
                                                function setLayoutHeight() {
                                                    var bannerheight = $("#view_banner_10001_274221313").css("height");
                                                    $("#view_banner_10001_274221313").children(".yibuFrameContent").css("height", bannerheight);
                                                };
                                            </script>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <?php $num =277267566;  ?>
            {include file="common/footer"/}