{include file="common/head"/}
<link rel="stylesheet" href="/static/air/img.bj.wezhan.cn/Plugins/Designer/Content/css/jquery-ui.min.css" />
<link rel="stylesheet" href="/static/air/content/sitefiles2006/2006291/css/pc/1479_zh-CN.css" type="text/css"/>


<div id="view_photoalbum_37_843" class="yibuSmartViewMargin absPos">
    <div class='yibuFrameContent overflow_hidden photoalbum_Style1_Item0 view_photoalbum_37_843_Style1_Item0'
         style='height:438px;width:1000px;'>
        <div id="w_slider_37" class="w_slider w_sliders_37"
             style="width:100%;height:100%;">
            <div class="w_slider_num">
                <ul style="display:none;">


                    <li style="font-size:12px;">1</li>
                    <li style="font-size:12px;">2</li>
                    <li style="font-size:12px;">3</li>
                </ul>
            </div>
            <div class="w_slider_img">
                <ul>
                    <li style="width:1000px; height:438px;">
                        <a title="1" href="javascript:void(0);" target="_self">
                            <img style="height:438px" class="lazyload"
                                 src="/static/ari/img.bj.wezhan.cn/transparent.gif"
                                 tppabs="http://img.bj.wezhan.cn/transparent.gif"
                                 data-original="http://img.bj.wezhan.cn/content/sitefiles/2006291/images/6281711_1.png"
                                 onload="DynamicLoad(this)" title="1"/>
                        </a>
                    </li>
                    <li style="width:1000px; height:438px;">
                        <a title="2" href="javascript:void(0);" target="_self">
                            <img style="height:438px" class="lazyload"
                                 src="/static/ari/img.bj.wezhan.cn/transparent.gif"
                                 tppabs="http://img.bj.wezhan.cn/transparent.gif"
                                 data-original="http://img.bj.wezhan.cn/content/sitefiles/2006291/images/6281712_2.png"
                                 onload="DynamicLoad(this)" title="2"/>
                        </a>
                    </li>
                    <li style="width:1000px; height:438px;">
                        <a title="3" href="javascript:void(0);" target="_self">
                            <img style="height:438px" class="lazyload"
                                 src="/static/ari/img.bj.wezhan.cn/transparent.gif"
                                 tppabs="http://img.bj.wezhan.cn/transparent.gif"
                                 data-original="http://img.bj.wezhan.cn/content/sitefiles/2006291/images/6281713_3.png"
                                 onload="DynamicLoad(this)" title="3"/>
                        </a>
                    </li>
                </ul>
            </div>

            <!-- 下面是前/后按钮代码，如果不需要删除即可 -->
            <a style="display:none;" class="prev" href="javascript:void(0)"></a>
            <a style="display:none;" class="next" href="javascript:void(0)"></a>

        </div>

        <script type="text/javascript">
            $(function () {
                $(".w_sliders_37").slide({
                    mainCell: $(".w_sliders_37 .w_slider_img ul"),
                    titCell: $(".w_sliders_37 .w_slider_num li"),
                    effect: "fade",
                    autoPlay: "true",
                    trigger: "click",
                    interTime: "2500"
                });
            });

        </script>
    </div>
</div>
<div id="view_text_38_843" class="yibuSmartViewMargin absPos">
    <div class='yibuFrameContent overflow_hidden text_Style1_Item0'
         style='height:23px;width:102px;'>
        <style type="text/css">
            #view_text_38_843_txt ul {
                list-style-position: inside;
            }
        </style>
        <div id='view_text_38_843_txt' style="cursor:default; height:100%; width:100%;">
            <div class="editableContent">
                <p><span
                        style="color: rgb(255, 0, 0); font-family: 宋体; line-height: 24px; widows: auto;">H-Bahn最新公告：</span>
                </p>
            </div>
        </div>
        <script>
            Pagination('view_text_38_843_txt', "首页", "尾页", "上一页", "下一页");
        </script>
    </div>
</div>
<div id="view_code_40_843" class="yibuSmartViewMargin absPos">
    <div class='yibuFrameContent overflow_hidden code_Style1_Item0'
         style='height:24px;width:896px;'>
        <div id='view_code_40_843_code'>
            <marquee onMouseOver=this.stop()
                     onMouseOut=this.start() scrollamount=1
                     scrolldelay=7 direction=up width=870
                     height=50><span
                    style="font-family: 宋体;">黄果树悬挂式轨道交通项目正式开工   new</span>
                <p style="font-family: 宋体;">
                    本网站为德国H-Bahn空中轨道列车在中国及亚太地区唯一官方网站。截止目前为止，没有授权其它网站和非合作单位开展类似服务内容，敬请广大用户注意。如有疑问请拨打网页下方“联系方式”中的电话或留言进行咨询、核实。</p>
            </marquee>
        </div>
    </div>
</div>

</div>
<script type="text/javascript">
    function setLayoutHeight() {
        var bannerheight = $("#view_banner_32_843").css("height");
        $("#view_banner_32_843").children(".yibuFrameContent").css("height", bannerheight);
    }
    ;
</script>
</div>
</div>
<div id="view_loginstatu_34_843" class="yibuSmartViewMargin absPos">
    <div class='yibuFrameContent overflow_hidden loginstatu_Style1_Item0 view_loginstatu_34_843_Style1_Item0'
         style='height:25px;width:164px;'>
        <div class="w-login-status" style="width:164px">


            <!--before-->
            <div class="w-login-status-before" style="display:none">
                <a description="Login" href="Login.htm" tppabs="http://www.h-bahn.cn/Login">[登录]</a>
                <span>|</span>
                <a description="Register" href="Register.htm"
                   tppabs="http://www.h-bahn.cn/Register">[注册]</a>
            </div>


            <!--before-->
            <!--after-->
            <div class="w-login-status-after" style="display:block">
                <div class="w-login-status-name"><a href="#" style="width:132px"></a><i
                        class="iconfont">&#xf078;</i></div>
                <ul class="w-login-status-list">
                    <li class="w-login-status-item"><a description="CustomerCenter"
                                                       href="Customer/index.htm"
                                                       tppabs="http://www.h-bahn.cn/Customer/index">会员中心</a>
                    </li>
                    <li class="w-login-status-item"><a description="Logout"
                                                       href="javascript:void(0)">退出登录</a></li>
                </ul>
            </div>
            <!--after-->

        </div>
        <script type="text/javascript">
            $(document).ready(function () {
                $.ajax({
                    url: "/customer/GetCurrentUser",
                    dataType: "json",
                    method: 'POST',
                    success: function (data) {
                        if (data.status) {
                            $("div.w-login-status-after").show().find(".w-login-status-name a").text(data.username);
                            $("div.w-login-status-before").hide();
                        } else {
                            $("div.w-login-status-after").hide();
                            $("div.w-login-status-before").show();
                        }
                    }
                });

                $("a[description=Logout]").click(function () {

                    $.ajax({
                        type: 'get',
                        url: "/Customer/Ajaxlogout",
                        data: {},
                        success: function (data) {
                            window.location.reload();
                        }
                    });
                })
            })
        </script>
    </div>
</div>
<div id="view_text_35_843" class="yibuSmartViewMargin absPos">
    <div class='yibuFrameContent overflow_hidden text_Style1_Item0'
         style='height:26px;width:143px;'>
        <style type="text/css">
            #view_text_35_843_txt ul {
                list-style-position: inside;
            }
        </style>
        <div id='view_text_35_843_txt' style="cursor:default; height:100%; width:100%;">
            <div class="editableContent">
                <p><span
                        style="color: rgb(255, 255, 224); font-family: 宋体; line-height: 24px; widows: auto;">国际空列集团欢迎您</span>
                </p>
            </div>
        </div>
        <script>
            Pagination('view_text_35_843_txt', "首页", "尾页", "上一页", "下一页");
        </script>
    </div>
</div>
</div>
</div>
</div>
<div class="main-wrap clearfix"
     style="*z-index:10;*position:relative;width:100%;margin-left:auto;margin-right:auto;;background-color:">
    <div class="main clearfix page_main" style="width:1000px;">
        <div class="content" style="min-height:100px;margin-left:auto;margin-right:auto;;background-color:"
             id="yibuLayout_center">
            <div id="view_main_1_1479" class="mainSamrtView yibuSmartViewMargin">
                <div class='yibuFrameContent main__Item0' style='height:200px;width:100%;'>
                    <div class='runTimeflowsmartView'>
                        <div id="view_image_10001_1479" class="yibuSmartViewMargin absPos">
                            <div class='yibuFrameContent overflow_hidden image_Style1_Item0'
                                 style='height:107px;width:339px;'>
                                <div class="megwh" style="height:100%; width:100%;">
                                    <a id="autosize_view_image_10001_1479" href="aqbzd.htm"
                                       target="_self">
                                        <input id="w_view_image_10001_1479" type="hidden" value="480"/>
                                        <input id="h_view_image_10001_1479" type="hidden" value="300"/>
                                        <input id="canadjustwidth_view_image_10001_1479" type="hidden"
                                               value="False"/>
                                        <input id="canadjustheight_view_image_10001_1479" type="hidden"
                                               value="False"/>

                                        <img class="lazyload" src="/static/ari/img.bj.wezhan.cn/transparent.gif"
                                             tppabs="http://img.bj.wezhan.cn/transparent.gif"
                                             data-original="http://img1.bj.wezhan.cn/content/sitefiles/2006291/images/6284442__c_4lbxTyql5eDaIIO6ENHJycR2wUFZ_nWrvZXTAv2fmgZedn-yFZPEuNcM67PlZbI4B8i1HWs2nD7yhpURzNs4mKWQT1cfTgqLB_a9ab0db2-9ed8-48cf-b57b-fd954416341a_resize_picture.gif"
                                             alt="" style="border:none; position:relative;"/>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div id="view_image_10002_1479" class="yibuSmartViewMargin absPos">
                            <div class='yibuFrameContent overflow_hidden image_Style1_Item0'
                                 style='height:105px;width:335px;'>
                                <div class="megwh" style="height:100%; width:100%;">
                                    <a id="autosize_view_image_10002_1479" href="syfw.htm"
                                       target="_self">
                                        <input id="w_view_image_10002_1479" type="hidden" value="480"/>
                                        <input id="h_view_image_10002_1479" type="hidden" value="300"/>
                                        <input id="canadjustwidth_view_image_10002_1479" type="hidden"
                                               value="False"/>
                                        <input id="canadjustheight_view_image_10002_1479" type="hidden"
                                               value="False"/>

                                        <img class="lazyload" src="/static/ari/img.bj.wezhan.cn/transparent.gif"
                                             tppabs="http://img.bj.wezhan.cn/transparent.gif"
                                             data-original="http://img1.bj.wezhan.cn/content/sitefiles/2006291/images/6284468__c_5CbAivBALrQ2lLAo7qZZ8sOxhzB88s8z5_jsmH4XXqAGYFvhjdW63FYOGFH8erjOeAuwFd65pa9oZPaNbiTH86bN5jnpMWPo6_2ce6abb1-8043-4bbe-b179-699944f75365_resize_picture.gif"
                                             alt="" style="border:none; position:relative;"/>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div id="view_image_10003_1479" class="yibuSmartViewMargin absPos">
                            <div class='yibuFrameContent overflow_hidden image_Style1_Item0'
                                 style='height:102px;width:341px;'>
                                <div class="megwh" style="height:100%; width:100%;">
                                    <a id="autosize_view_image_10003_1479" href="gsxw.htm"
                                       target="_self">
                                        <input id="w_view_image_10003_1479" type="hidden" value="328"/>
                                        <input id="h_view_image_10003_1479" type="hidden" value="100"/>
                                        <input id="canadjustwidth_view_image_10003_1479" type="hidden"
                                               value="False"/>
                                        <input id="canadjustheight_view_image_10003_1479" type="hidden"
                                               value="False"/>

                                        <img class="lazyload" src="/static/ari/img.bj.wezhan.cn/transparent.gif"
                                             tppabs="http://img.bj.wezhan.cn/transparent.gif"
                                             data-original="http://img1.bj.wezhan.cn/content/sitefiles/2006291/images/6284471__c_eRc_Ehv-S4FPHnskGlwNG2GHskpRkt1UmLiJrsU4TUZTgBTzoA6ZqOGlIKdJjWrkctTD1XM7Lg4Y1KFD8IQufuqLa76OjBNGk_bc85f616-ae3e-47b1-91fb-cb2619c2efa1_resize_picture.jpeg"
                                             alt="" style="border:none; position:relative;"/>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
{include file="common/footer"/}