<?php $num =277267925;  ?>
{include file="common/head"/}
<link rel="stylesheet" href="/static/air/content/sitefiles2006/2006291/css/pc/274227701_zh-CN.css" type="text/css">
            <div class="main-wrap clearfix"
                 style="*z-index:10;*position:relative;width:100%;margin-left:auto;margin-right:auto;;background-color:">
                <div class="main clearfix page_main" style="width:1000px;margin-left:auto;margin-right:auto;">
                    <div class="sidebar-left page_sidebar" id="yibuLayout_sidebar"
                         style="width:220px;height:488px;background-color:#ffffff;;">
                        <div class='runTimeflowsmartView'>
                            <div id="view_banner_57_{$num}" class="yibuSmartViewMargin absPos">
                                <div class='yibuFrameContent overflow_hidden banner_Style1_Item0 view_banner_57_{$num}_Style1_Item0'
                                     style='height:488px;width:219px;'>
                                    <script>
                                        $(function () {
                                            $("#view_banner_57_{$num}").children("div").css("overflow", "visible");
                                        })
                                    </script>


                                    <div class="flowsmartView isflowcontainer w_container_content" refarea="Area_0"
                                         id="flowsmartView_57">
                                        <div id="view_text_58_{$num}" class="yibuSmartViewMargin absPos">
                                            <div class='yibuFrameContent overflow_hidden text_Style1_Item0'
                                                 style='height:22px;width:91px;'>
                                                <style type="text/css">
                                                    #view_text_58_{$num}_txt ul {
                                                        list-style-position: inside;
                                                    }
                                                </style>
                                                <div id='view_text_58_{$num}_txt'
                                                     style="cursor:default; height:100%; width:100%;">
                                                    <div class="editableContent">
                                                        <p><span
                                                                style="color: rgb(0, 116, 210); font-family: 华文细黑; font-size: 13px; font-weight: bold; line-height: 26.6667px; widows: auto; ">视频点播</span>
                                                        </p>
                                                    </div>
                                                </div>
                                                <script>
                                                    Pagination('view_text_58_{$num}_txt', "首页", "尾页", "上一页", "下一页");
                                                </script>
                                            </div>
                                        </div>
                                        <div id="view_navigator_59_{$num}" class="yibuSmartViewMargin absPos">
                                            <div class='yibuFrameContent overflow_hidden navigator_Style5_Item0 view_navigator_59_{$num}_Style5_Item0'
                                                 style='height:143px;width:163px;'><!--nav-->
                                                <ul id=nav_view_navigator_59_{$num} styleItem=Style5>

                                                    {volist name="child" id="vo"}
                                                    <li class="w_vnav_item {if condition="input('catId')==$vo['id']"}w_vnav_item_current{/if}">
                                                    <h3>
                                                        <a href="{:url('home/'.$vo['catdir'].'/index',['catId'=>$vo['id']] )}"  style="width: 143px" target=_self>
                                                            {$vo.catname}
                                                        </a>
                                                    </h3>
                                                    </li>
                                                    {/volist}

                                                </ul>

                                                <!--/nav-->


                                                <input type="hidden" id="HeightVariablesStr_view_navigator_59_{$num}"
                                                       value="$Item_height:28.6px;$SubItem_height:28.6px;"/>

                                            </div>
                                        </div>
                                        <div id="view_image_60_{$num}" class="yibuSmartViewMargin absPos">
                                            <div class='yibuFrameContent overflow_hidden image_Style1_Item0'
                                                 style='height:216px;width:180px;'>
                                                <div class="megwh" style="height:100%; width:100%;">
                                                    <a id="autosize_view_image_60_{$num}" href="javascript:void(0);"
                                                       target="_self">
                                                        <input id="w_view_image_60_{$num}" type="hidden"
                                                               value="179"/>
                                                        <input id="h_view_image_60_{$num}" type="hidden"
                                                               value="215"/>
                                                        <input id="canadjustwidth_view_image_60_{$num}" type="hidden"
                                                               value="False"/>
                                                        <input id="canadjustheight_view_image_60_{$num}"
                                                               type="hidden" value="False"/>

                                                        <img class="lazyload" src="/static/air/img.bj.wezhan.cn/transparent.gif"
                                                             
                                                             data-original=""
                                                             alt="" style="border:none; position:relative;"/>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                    <script type="text/javascript">
                                        function setLayoutHeight() {
                                            var bannerheight = $("#view_banner_57_{$num}").css("height");
                                            $("#view_banner_57_{$num}").children(".yibuFrameContent").css("height", bannerheight);
                                        };
                                    </script>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="content yibuTemplateBody page_container" id="yibuLayout_container"
                         style="width:780px;background-color:#ffffff;;">
                        <div id="view_main_1_274227701" class="mainSamrtView yibuSmartViewMargin">
                            <div class='yibuFrameContent main__Item0' style='height:403px;width:100%;'>
                                <div class='runTimeflowsmartView'>
                                    <div id="view_banner_10001_274227701" class="yibuSmartViewMargin absPos">
                                        <div class='yibuFrameContent overflow_hidden banner_Style1_Item0 view_banner_10001_274227701_Style1_Item0'
                                             style='height:466px;width:782px;'>
                                            <script>
                                                $(function () {
                                                    $("#view_banner_10001_274227701").children("div").css("overflow", "visible");
                                                })
                                            </script>


                                            <div class="flowsmartView isflowcontainer w_container_content"
                                                 refarea="Area_0" id="flowsmartView_10001">
                                                <div id="view_text_10002_274227701" class="yibuSmartViewMargin absPos">
                                                    <div class='yibuFrameContent overflow_hidden text_Style1_Item0'
                                                         style='height:23px;width:159px;'>
                                                        <style type="text/css">
                                                            #view_text_10002_274227701_txt ul {
                                                                list-style-position: inside;
                                                            }
                                                        </style>
                                                        <div id='view_text_10002_274227701_txt'
                                                             style="cursor:default; height:100%; width:100%;">
                                                            <div class="editableContent">
                                                                <p><span style="color: rgb(0, 116, 210); font-family: 华文细黑; font-size: 13px; font-weight: bold; line-height: 26.6667px; widows: auto; ">
                                                                    {$catname}
                                                                </span>
                                                                </p>
                                                            </div>
                                                        </div>
                                                        <script>
                                                            Pagination('view_text_10002_274227701_txt', "首页", "尾页", "上一页", "下一页");
                                                        </script>
                                                    </div>
                                                </div>
                                                <div id="view_line_10003_274227701" class="yibuSmartViewMargin absPos">
                                                    <div class='yibuFrameContent overflow_hidden line_Style1_Item0 view_line_10003_274227701_Style1_Item0'
                                                         style='height:13px;width:756px;'>
                                                        <div class="w_line"></div>
                                                    </div>
                                                </div>
                                                <div id="view_video_10004_274227701" class="yibuSmartViewMargin absPos">
                                                    <div class='yibuFrameContent overflow_hidden video_Style1_Item0 view_video_10004_274227701_Style1_Item0'
                                                         style='height:372px;width:524px;'>
                                                        {volist name="list" id="vo" offset="0" lenght="1"}
                                                        <iframe height=372 width=524 src='{$vo.video}' frameborder=0 'allowfullscreen'></iframe>
                                                        {/volist}
                                                        <!--jp-video-->
                                                    </div>
                                                </div>

                                            </div>
                                            <script type="text/javascript">
                                                function setLayoutHeight() {
                                                    var bannerheight = $("#view_banner_10001_274227701").css("height");
                                                    $("#view_banner_10001_274227701").children(".yibuFrameContent").css("height", bannerheight);
                                                };
                                            </script>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>


            {include file="common/footer"/}